name: clang-format

on:
  pull_request:
  push:
    branches: [master]

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format
        uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: "20"
          check-path: "src"
